<body>
    <p1>Liste de tous les contacts:</p1></br>
    <table>
		{% if data|length == 0 %}
			<div>Pas de contacts enregistrés dans l'annuaire!</div>
		{% else %}
			<tr>
				<td>Nom</td>
				<td>Prénom</td>
				<td>Numéro</td>
			</tr>
			{% for el in data %}
				<tr>
					<td>{{ el[1] }}</td>
					<td>{{ el[2] }}</td>
					<td>{{ el[3] }}</td>
					<td>
						<form action="http://localhost:5000/modification" method="post">
							<input id="id_contact" type="hidden" name="id_c" value={{ el[0] }} ></input>
							<input id="edit" type="submit" value="Modifier" />
						</form>
					</td>
					<td>
						<form action="http://localhost:5000/suppr_contact" method="post">
							<input id="id_contact" type="hidden" name="id_c" value={{ el[0] }} ></input>
							<input id="edit" type="submit" value="Supprimer" />
						</form>
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</table>
   <a href="http://localhost:5000"><p1>Retourner au menu</p1></a>
</body>

</html>
