<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Liste des contacts</title>
	<link href="/static/style.css" rel="stylesheet">
</head>
	
<h1>Liste des contacts</h1> </br> </br>

<body>
    <table>
		{% if data|length == 0 %}
			<div>Pas de contacts enregistrés dans l'annuaire!</div>
		{% else %}
			<tr>
				<td>Nom</td>
				<td>Prénom</td>
				<td>Numéro</td>
			</tr>
			{% for el in data %}
				<tr>
					<td>{{ el[1] }}</td>
					<td>{{ el[2] }}</td>
					<td>{{ el[3][1:-1] }}</td>
					<td>
						<form action="http://localhost:5000/modification" method="post">
							<input id="id_contact" type="hidden" name="id_c" value={{ el[0] }} ></input>
							<input id="edit" type="submit" value="Modifier" />
						</form>
					</td>
					<td>
						<form action="http://localhost:5000/suppr_contact" method="post">
							<input id="id_contact" type="hidden" name="id_c" value={{ el[0] }} ></input>
							<input id="edit" type="submit" value="Supprimer" />
						</form>
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</table>
   </br><a href="http://localhost:5000"><p1>Retourner au menu</p1></a>
</body>

<footer id="footer"> © 2021 Théo Bossert & Matvei Maksimenka </footer>

</html>
