<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Modification d'un contact</title>
	<link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <h1>Modifier un contact:</h1>
    <form action="http://localhost:5000/modif_ok" method="post">
        <label>Nom</label> : <input type="text" required="required" name="nom" />
        <label>Prénom</label> : <input type="text" required="required" name="prenom" />
	<label>Numéro</label> : <input type="number" required="required" step="1" name="numero" />
        <input id="id_contact" type="hidden" name="id_c" value={{ id_contact }} ></input>
        <input type="submit" value="Envoyer" />
    </form>
</body>

<footer id="footer"> © 2021 Théo Bossert & Matvei Maksimenka </footer>

</html>
