<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Recherche de contacts</title>
</head>

<body>
    <p1>Recherche de contacts:</p1>
    <form action="http://localhost:5000/recherche_resultats" method="post">
        <label>Nom</label> : <input type="text" name="nom" />
        <label>Prénom</label> : <input type="text" name="prenom" />
		<label>Numéro</label> : <input type="int" name="numero" />
        <input type="submit" value="Envoyer" />
    </form>
    <a href="http://localhost:5000"><p1>Retourner au menu</p1></a>
</body>

</html>
