<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Recherche de contacts</title>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <h1>recherche de contacts</h1> </br> </br>
    <form action="http://localhost:5000/recherche_resultats" method="post">
        <label>Nom</label> : <input type="text" name="nom" />
        <label>Prénom</label> : <input type="text" name="prenom" />
	<label>Numéro</label> : <input type="number" step="1" name="numero" />
        <input type="submit" value="Envoyer" />
    </form>
    </br><a href="http://localhost:5000"><p1>Retourner au menu</p1></a>
</body>

<footer id="footer"> © 2021 Théo Bossert & Matvei Maksimenka </footer>
	
</html>
